* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* CSS reset */
    }

html {
    font-family: 'Merriweather', serif;
    font-size: 10px;
    font-size: 100%;
    line-height: 1.75;
}

body.dark {
    background-color: #282c35;
    margin: 0;
    color: #f5f6f7;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 42rem;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 2.625rem;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.profile-container {
    /* выставляем элементы в профиле в строку */
    display: flex;
    padding-right: 100px;
    /* отделяем контейнер от основного контента снизу */
    margin-bottom:  3.5rem;
}

.profile-pic {
    margin-right: 0.875rem;
    margin-bottom: 0;
    width: 3.5rem;
    heighT: 3.5rem;
    border-radius: 50%;
}

.title {
    box-shadow: none;
    text-decoration: none;
    line-height: 2.625rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.625;
    margin-top:0;
}

p {
    margin-top: 0;
    margin-bottom: 1.75rem;
}

a {
    color: #ffa7c4
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0.4375rem;
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.1;
    /* 
    стиль заголовков статей. 1.75*16=28px
    изменил чтобы апдейтнулось гитхаб айо
    */
}

.article-title {
    text-decoration: none;
}