h1 {
    font-size:1.988.18rem;
    line-height: 2.626rem;
    margin-bottom: 0;
    margin-top:0;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0,4375rem;
    /* 
    стиль заголовков статей. 1.75*16=28px
    */
}

.profile-pic {
    margin-right: 0.875rem;
    margin-bottom: 0;
    width: 3.5rem;
    border-radius: 50%;
}