* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    color: #0a0a23;
    font-size: 18px;
    padding: 1em;
    line-height: 1.4;
    text-align: center;
    margin-top: 15vw;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

a {
    color: #0a0a23;
    text-decoration: underline;
  }

a:hover {
    color: #f5f6f7;
    background-color: #1b1b32;
    cursor: pointer;
    text-decoration: none;
}
